body{
    margin: 3em;
    font-family: 'Lato';
    width: 1440px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 2em;
}

.logo_section{
    font-size: 1em;
}


.links_to_other_pages{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links_to_other_pages a{
    text-decoration: none;
    padding: 1.3rem;
    cursor: pointer;
}

.getApp_button{
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.getApp_button a{
    text-decoration: none;
}

.homepage_texts_section{
    display: flex;
    flex-direction: column;
}

.homepage_texts_section h1{
    font-size: 2em;
}

.homepage_texts_section_buttons {
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
    gap: 40px;
}

.button{
    display: flex;
    justify-content: center;
    background-color: #FFDC3E;
    text-decoration: none;
    border-radius: 2.5rem;
    font-size: 1.7rem;
    width: 10em;
    height: 3em;
    text-align: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #0A78C2;
    color: white;
}

.submit_button{
    background-color: #FFDC3E;
    text-decoration: none;
    border-radius: 2.5rem;
    font-size: 1.4rem;
    width: 14rem;
    height: 5rem;
    text-align: center;
    align-items: center;
    border: none;
}

.logo{
    width: 4.5rem;
    height: 4.5rem;
}

.logo_section{
    display: flex;
    flex-direction: row;
}

.rate_pic{
    width: 7rem;
}

.feedback_name_email{
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.main_feedback{
    display: flex;
    flex-direction: column;
}

.feedback_name_email input{
     width: 20rem;
     height: 2rem;
}

.feedback_section textarea{
    width: 60rem;
    height: 48rem;
}

.feedback_main{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.rate_number{
    font-size: 1.5rem;
    text-align: center;
}

.rate_each_section{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.rate_each_section_texts{
    display: flex;
    flex-direction: row;
}

.rating{
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}


.feedback_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.feedback_section label{
    font-size: 1.2rem;
}

.thankyouPage_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
}

.thankyouPage_main h1{
    font-size: 3rem;
}

.thankYou_logo{
    width: 40rem;
}

.back_to_home_button{
    padding-top: 7rem;
}

.about_main,
.feature_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.features{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 8.125rem;
    padding-top: 1.875px;
}

.members img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.membersContaienr{
    display: flex;
    justify-content: center;
    align-items: center;

}
.members{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    gap: 2em;
    padding-bottom: 200px;
    width: 2560px;
}


.members p{
    font-size: 20px;
}

.background h1{
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    color: white;
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFDC3E;
    height: 31.25em;
}

.homepage{
    display: flex;
    flex-direction: row;
}

.homepage_screendisplay_section{
    display: flex;
    flex-direction: row-reverse;
}

.homepage_screendisplay_section img{
    width: 250px;
    margin: 50px;
}



.homepage_main{
    margin: 2em 2em;
}


.about_texts p{
    margin: 2em 2em;
    font-size: 18px;
    width: 40em;
}